@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html,
body {
	font-family: system-ui, -apple-system, Roboto, sans-serif;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

// question button
.call-us {
	display: flex;
	position: fixed;
	bottom: 100px;
	right: 30px;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.3s ease 0s;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	&:hover {
		transform: scale(1.01);
		opacity: 0.8;
	}
	&:active {
		transform: scale(0.99);
		opacity: 1;
	}
	@media (max-width: 768px) {
		bottom: 30px;
	}
}

a:not(.logo) {
	transition: all 0.3s ease 0s;
	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 1;
		transform: scale(0.99);
	}
}

a {
	outline: none;
}

.wrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

[class*="__container"] {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 30px;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 80px 0px;
}

footer {
	background-color: #333;
	.footer__container {
		color: #fff;
		padding: 20px;
		text-align: center;
	}
	.logo {
		filter: invert(1);
	}
}

// product__container
.product__container {
	padding-top: 32px;
	padding-bottom: 32px;
}

// scrollbar
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

// open-menu-burger
.open-menu .open-menu-burger {
	background-color: transparent;
	&:before {
		content: "";
		transform: rotate(45deg);
		top: 0 !important;
	}
	&:after {
		content: "";
		transform: rotate(-45deg);
		bottom: 0 !important;
	}
}

// menu-burger__menu
.menu-burger__menu {
	transition: all 0.3s ease 0s;
}

.open-menu .menu-burger__menu {
	transform: translate(0);
}

// MuiMenu-root
.MuiMenu-root {
	background-color: rgb(var(--background-end-rgb), 0.2);
}
// shop__btnContainer
.shop__btnContainer {
	flex-direction: row !important;
}

// MuiMenuButton-root
.MuiMenuButton-root {
	width: 100%;
}

// sidebar__link
.sidebar__link {
	transition: all 0.3s ease 0s;
	&:hover {
		opacity: 0.8;
		text-decoration: underline;
	}
	&:active {
		opacity: 1;
		transform: scale(0.99);
	}
}
